*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
}

.arrow:hover {
    height: 5.5vh;
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(../media/kreaplace/b202.png);
    background-position: bottom;
    background-size: cover;
}

#intro div {
    margin: auto auto auto 15vw;

}

#intro div h1 {
    margin: 0 3vh 0 3vh;
    color: #ECECEC;
}

#intro div h2 {
    margin: 0 3vh 7vh 3vh;
    color: #ECECEC;
}

#intro div h3 {
    color: #ECECEC;
    width: 40vw;
}

#intro div a {
    color: #ECECEC;
}


#prototype {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#prototype div {
    margin: auto auto auto 0;
}

#prototype img {
    height: 60vh;
    margin: auto 5vw auto auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}

#prototype h1 {
    width: auto;
    margin: auto auto 5vh auto;
    text-align: left;

}

#prototype h2 {
    width: 30vw;
    margin: auto;
    text-align: left;

}



#funct {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#funct div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#funct div div {
    margin: auto 0 auto auto;

}

#funct h1 {
    width: auto;
    margin: auto auto 0 auto;
    text-align: left;

}

#funct h2 {
    width: 30vw;
    margin: auto;
    text-align: right;

}


#funct img {
    height: 50vh;
    margin: auto auto auto 5vw;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}

#funct2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#funct2 div {
    margin: auto auto auto 0;

}

#funct2 h2 {
    width: 30vw;
    margin: auto;
    text-align: left;

}


#funct2 img {
    height: 80vh;
    margin: auto 5vw auto auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}


#mobile-version {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mobile-version h1 {
    width: auto;
    height: fit-content;
    margin: 20vh auto 0 auto;
    text-align: center;

}

#mobile-version div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#mobile-version div div {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

#mobile-version div:nth-child(1) {
    padding-top: 10vh;
}

#mobile-version div:nth-child(3) {
    padding-top: 20vh;
}


#mobile-version div div img {
    width: 15vw;
    margin: 5vh auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;

}




#other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    margin: 0 5vw;
    height: 10vh;

}

#other-projects a {
    text-decoration: none;
}

#other-projects h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

#other-projects h3:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(100px);
    animation: come-in 2s ease forwards;
}



.come-in:nth-child(odd) {
    animation-duration: 1s;
}


.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

@media all and (max-width: 768px) and (min-width:0) {
    .title {
        font-size: 5vh;
        width: 100vw;
        text-align: center;
        margin: 0 auto !important;
    }

    .subtitle {
        width: 100vw;
        text-align: left;
        margin: 0 auto !important;
    }


    .arrow {
        height: 3vh;
        top: 3vh;
        left: 3vh;
    }



    #intro div h1 {
        margin-top: 10vh;
        font-size: 7vh;

    }

    #intro div h2 {
        width: 80vw;
    }

    #intro div h3 {
        width: 80vw;
        font-size: 2.5vh;
        line-height: 4vh;
        text-align: left;
    }



    #prototype {
        flex-direction: column;
        height: auto;
        padding-top: 10vh;
    }



    #prototype img {
        width: 80vw;
        height: auto;
        margin: 10vh auto;
        order: 2;
    }

    #prototype div {
        margin: 0;
        order: 1;
    }

    #prototype div h1 {
        text-align: center;
    }

    #prototype div h2 {
        width: 80vw;
        padding-top: 5vh;
    }

    #funct {
        flex-direction: column;
        height: auto;   
    }

    #funct div {
        flex-direction: column;
    }

    #funct h1 {
        text-align: center;
    }

    

    #funct img {
        width: 80vw;
        height: auto;
        margin: 10vh auto;
    
        
    }

    

    #funct div div h2 {
        display: flex;
        width: 80vw;
        text-align: left;
        padding-top: 5vh;
    }

    #funct2 {
        flex-direction: column;
        height: auto;
    }

    #funct2 img {
        width: 80vw;
        height: auto;
        margin: 10vh auto;
        order: 2;
    }

    #funct2 div {
        margin: 0;
        order: 1;
    }

    #funct2 div h2 {
        width: 80vw;
        text-align: left;
        padding-top: 5vh;
    }



    #mobile-version div div img {
        width: 60vw;
        height: auto;
        margin: 5vh auto;
    }

    #mobile-version div div:nth-child(2),
    #mobile-version div div:nth-child(3) {
        display: none;
    }



    #other-projects {
        margin-top: 10vh;
    }

}

@media all and (max-width: 992px) and (min-width:768px) {
    #intro div {
        margin: auto;
    }

    #intro div h3 {
        width: 80vw;
        margin: auto;
        font-size: 2.5vh;
        line-height: 5vh;
        text-align: left;
    }

    #mobile-version div div:nth-child(2),
    #mobile-version div div:nth-child(3) {
        display: flex;
    }


    #mobile-version {
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #mobile-version h1 {
        width: auto;
        height: fit-content;
        margin: 20vh auto 0 auto;
        text-align: center;

    }

    #mobile-version div {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    #mobile-version div div {
        display: flex;
        flex-direction: column;
        margin: 2vw;
    }

    #mobile-version div:nth-child(1) {
        padding-top: 5vh;
    }

    #mobile-version div:nth-child(3) {
        padding-top: 10vh;
    }


    #mobile-version div div img {
        width: 25vw;
        margin: 2vw auto;
        box-shadow: 3px 3px 3px #C8C6C6,
            -3px -3px 3px #F1EFEF;

    }


}