*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
}

.arrow:hover {
    height: 5.5vh;
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(/media/kreaplace/b202.png);
    background-position: bottom;
    background-size: cover;
}

#intro div {
    margin: auto auto auto 15vw;

}

#intro div h1 {
    margin: 0 3vh 0 3vh;
    color: #ECECEC;
}

#intro div h2 {
    margin: 0 3vh 7vh 3vh;
    color: #ECECEC;
}

#intro div h3 {
    color: #ECECEC;
    width: 40vw;
}

#intro div a {
    color: #ECECEC;
}


#prototype {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#prototype div {
    margin: auto auto auto 0;
}

#prototype img {
    height: 60vh;
    margin: auto 5vw auto auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}

#prototype h1 {
    width: auto;
    margin: auto auto 5vh auto;
    text-align: left;

}

#prototype h2 {
    width: 30vw;
    margin: auto;
    text-align: left;

}



#funct {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#funct div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#funct div div {
    margin: auto 0 auto auto;

}

#funct h1 {
    width: auto;
    margin: auto auto 0 auto;
    text-align: left;

}

#funct h2 {
    width: 30vw;
    margin: auto;
    text-align: right;

}


#funct img {
    height: 50vh;
    margin: auto auto auto 5vw;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}

#funct2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#funct2 div {
    margin: auto auto auto 0;

}

#funct2 h2 {
    width: 30vw;
    margin: auto;
    text-align: left;

}


#funct2 img {
    height: 80vh;
    margin: auto 5vw auto auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;
}


#mobile-version {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mobile-version h1 {
    width: auto;
    height: fit-content;
    margin: 20vh auto 0 auto;
    text-align: center;

}

#mobile-version div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#mobile-version div div {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

#mobile-version div:nth-child(1) {
    padding-top: 10vh;
}

#mobile-version div:nth-child(3) {
    padding-top: 20vh;
}


#mobile-version div div img {
    width: 15vw;
    margin: 5vh auto;
    box-shadow: 3px 3px 3px #C8C6C6,
        -3px -3px 3px #F1EFEF;

}




#other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    margin: 0 5vw;
    height: 10vh;

}

#other-projects h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

#other-projects h3:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(100px);
    animation: come-in 2s ease forwards;
}



.come-in:nth-child(odd) {
    animation-duration: 1s;
}


.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}