*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.navigation {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: left;
    right: 3vw;
    top: 3vh;
    position: absolute;
    z-index: 100;
}

.navigation-scroll {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 4vw;
    position: fixed;
    left: 2vw;
    height: 50vh;
    justify-content: space-between;
    top: 20vh;
}

.nav-el {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 2.5vh;
    color: #ececec;
    text-decoration: none;
    padding: 0 3vh;

}

.nav-el:hover {
    padding-top: 1vh;
}

.nav-el-scroll {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 2.5vh;
    color: #2a2a2a;
    text-decoration: none;
    transform: rotate(270deg);
    height: 10vh;
    width: 10vh;
    margin: 1vw;
    text-align: center;

}

.nav-el-scroll:hover {
    padding-top: 1vw;
}

/*mobile menu*/
.nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #2a2a2a;
    color: #ececec;
    cursor: pointer;
    height: 100vh;
    left: -100vw;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    font-size: 30px;
}

.nav-toggle-bar {
    display: none;
}

.nav.expanded {
    left: 0;
}

.nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    text-align: right;
}

.nav ul li a {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 5vh;
    line-height: 10vh;
    color: #ececec;
    text-decoration: none;
    padding: 2vh 3vh;

}

.nav-toggle {
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 150px;
    width: 150px;
    right: -40px;
    top: -40px;
    border-bottom-left-radius: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: #2a2a2a;
}





.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 5px;
    width: 40px;
}



.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-toggle {
    z-index: 100;
}

section {
    width: 100vw;
    height: 100vh;
}

.section-title {
    display: flex;
    width: 100vw;
    height: 75vh;
}

.title-3d {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 35vh;
    text-align: left;
    color: #ececec;
    margin: auto auto 5vh 10vw;


}

.title-3d-animation {
    animation-name: rise;
    animation-duration: 2s;
    animation-timing-function: ease;
    text-shadow: 5px 5px 5px #CCCCCC,
        -3px -3px 3px #F5F5F5;

}

@keyframes rise {

    0% {
        text-shadow: 0px 0px 0px #CCCCCC,
            0px 0px 0px #F5F5F5;
        margin: auto auto 6vh 10vw;
    }

    100% {
        text-shadow: 5px 5px 5px #CCCCCC,
            -3px -3px 3px #F5F5F5;
        margin: auto auto 5vh 10vw;
    }

}

/*fonts*/
.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

/*HOME*/
#home {
    background-image: url(../media/me/home.JPG);
    background-size: cover;
    display: flex;
}

.container {
    margin: auto 20vw auto auto;
    display: flex;
}

.container p {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ececec;
    line-height: 4vh;
    width: 20vw;
}


.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 1px;
    animation: blink 1s infinite;

}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}


/*PROJECTS section*/
#projects {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 0 0 10vw;


}

.middle-section {
    display: flex;
    flex-direction: row;

}

/*arrow buttons*/

.prev {
    height: 8vh;
    margin: 45vh 0 0 auto;
}

.next {
    height: 8vh;
    margin: 45vh auto 0 0;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slideshow-container {
    margin: 15vh 15vh 0 15vh;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;

}

/*SafeToGo*/
.safetogo {
    display: flex;
    flex-direction: row;
}

.text {
    height: fit-content;
    margin: auto 0 auto 0;
}

.safetogo img {
    height: 70vh;
}

/**kreaplace*/

.kreaplace {
    display: flex;
    flex-direction: row;
}

.kreaplace img {
    height: 70vh;
}

/*CSS 3D animations*/

.animations {
    display: flex;
    flex-direction: row;
}

.animations img {
    width: 50vh;
    margin: 10vh auto;
}

/*DOTS*/

.dots {
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
}

.dot {
    border-radius: 50%;
    background: #E3E0E0;
    box-shadow: inset 3px 3px 3px #C8C6C6,
        inset -3px -3px 3px #F1EFEF;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;
}

.dot:hover {
    cursor: pointer;
}

.dot-active {
    border-radius: 50%;
    background: #ececec;
    box-shadow: 2px 2px 2px #D4D4D4,
        -2px -2px 2px #F5F5F5;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;

}

/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}




/*Shots section*/
#shots {
    display: flex;
    flex-direction: row;
}

.shots-text {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 10vw;
}

.shots-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;

}


.slides-section {
    display: flex;
    flex-direction: column;
    margin: 10vh 15vw auto auto;
}

.slides-wrapper {
    display: flex;
    flex-direction: row;
}



.prev-shot {
    height: 8vh;
    margin: 35vh 7vw 0 0;
}

.next-shot {
    height: 8vh;
    margin: 35vh auto 0 7vw;
}

.prev-shot:hover,
.next-shot:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.myShots {
    height: 75vh;
    margin-bottom: 3vh;
    box-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

.dot- {
    border-radius: 50%;
    background: #E3E0E0;
    box-shadow: inset 3px 3px 3px #C8C6C6,
        inset -3px -3px 3px #F1EFEF;
    height: 1vw;
    width: 1vw;
    margin: 0.5vw;
}

.dot-:hover {
    cursor: pointer;
}

.dot--active {
    border-radius: 50%;
    background: #ececec;
    box-shadow: 2px 2px 2px #D4D4D4,
        -2px -2px 2px #F5F5F5;
    height: 1vw;
    width: 1vw;
    margin: 0.5vw;

}

#about {
    padding-left: 10vw;
}

#about div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#about div img {
    height: 80vh;
    margin: 10vh 1vw;
    box-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#about div div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: auto 1vw;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(100px);
    animation: come-in 2s ease forwards;
}



.come-in:nth-child(odd) {
    animation-duration: 1s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}



@media all and (max-width: 768px) and (min-width:0) {
    body {
        overflow-x: hidden;
    }

    .nav-toggle-bar {
        display: block;
    }

    .navigation-scroll {
        display: none;
    }

    .navigation {
        display: none;
    }


    #home {
        background-color: #2a2a2a;
        background-image: none;
        width: 100vw;
        height: 100vh;
    }

    .container {
        margin: auto auto 10vh 10vw;

    }

    .container p {
        font-size: 3vh;
        line-height: 6vh;
        width: 80vw;


    }

    .section-title {
        display: flex;
        width: 100vw;
        height: fit-content;
    }

    .title-3d {
        font-family: "Roboto Slab";
        font-size: 15vw;
        text-align: left;
        color: #2a2a2a;
        margin: 10vh auto;
        font-weight: 300;


    }

    #projects {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
        margin: 0;
    }

    .middle-section {
        height: fit-content;
        margin: 0 auto 20px auto;
    }

    .prev {
        height: 50px;
        margin: 100px 30px auto auto;
    }

    .next {
        height: 50px;
        margin: 100px auto auto 30px;
    }

    .slideshow-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        height: fit-content;

    }

    .safetogo {
        flex-direction: column;
    }

    .safetogo h1 {
        font-size: 30px;
        margin: 0;
    }

    .safetogo p {
        display: none;
    }

    .safetogo .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }


    .text {
        height: fit-content;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .safetogo img {
        width: 50vw;
        height: auto;
        margin: 0 auto 20px;
    }

    .kreaplace {
        flex-direction: column;
    }

    .kreaplace h1 {
        font-size: 30px;
        margin: 0;
    }

    .kreaplace p {
        display: none;
    }

    .kreaplace .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }

    .kreaplace img {
        width: 50vw;
        height: auto;
        margin: 0 auto 20px;
    }

    .animations {
        flex-direction: column;
    }

    .animations h1 {
        font-size: 30px;
        margin: 0;
    }

    .animations p {
        display: none;
    }

    .animations .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }

    .animations img {
        width: 50vw;
        height: auto;
        margin: 30px auto 0px;
    }

    .dots {
        margin: 0 auto 0 auto;
        width: fit-content;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 10px;
    }

    #shots {
        flex-direction: column;
    }

    .shots-text {
        margin: 0 auto;
    }

    .shots-title {
        display: none;
        margin: 0 auto 0 auto;
    }

    .shots-text h2 {
        width: 90vw;
        text-align: center;
        margin: 0;

    }

    .slides-section {
        margin: 30px auto;
    }

    .prev-shot {
        height: 50px;
        margin: 35vh 0 0 auto;
    }

    .next-shot {
        height: 50px;
        margin: 35vh auto 0 0;
    }

    .myShots {
        height: 60vh;
        width: auto;
        margin: 20px auto;
    }



    .dot- {
        height: 15px;
        width: 15px;
        margin: 10px;
    }

    #about {
        padding-left: 0;
    }

    #about div {
        flex-direction: column;
    }

    #about div img {
        width: 80vw;
        height: auto;
        margin: 20px auto;
        box-shadow: 5px 5px 10px #C8C6C6,
            -5px -5px 10px #F1EFEF;
        order: 2;
    }

    #about div div {
        height: fit-content;
        width: 90vw;
        margin: 20px auto 20px auto;
        order: 1;
    }

    #about div div h1 {
        width: 90vw;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    #about div div h2 {
        width: 90vw;
        text-align: center;
        margin: 0 auto;
    }
}


@media all and (max-width: 992px) and (min-width:768px) {

    body {
        overflow-x: hidden;
    }

    .navigation-scroll {
        display: none;
    }

    .navigation {
        justify-self: center;
        margin-left: auto;
    }


    .nav-toggle-bar {
        display: block;
    }


    #home {
        background-color: #2a2a2a;
        background-image: none;
        width: 100vw;
        height: 100vh;
    }

    .container {
        margin: auto auto 10vh 10vw;

    }

    .container p {
        font-size: 3vh;
        line-height: 6vh;
        width: 80vw;


    }


    .section-title {
        display: flex;
        width: 100vw;
        height: fit-content;
    }

    .title-3d {
        font-family: "Roboto Slab";
        font-size: 15vw;
        text-align: left;
        color: #2a2a2a;
        margin: 10vh auto;


    }

    #projects {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }

    .middle-section {
        height: fit-content;
        width: fit-content;
        margin: 0 auto 20px auto;
    }

    .prev {
        height: 50px;
        margin: 30vw 20px auto auto;
    }

    .next {
        height: 50px;
        margin: 30vw auto auto 20px;
    }

    .slideshow-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        height: fit-content;

    }

    .safetogo {
        flex-direction: column;
    }

    .safetogo h1 {
        font-size: 30px;
        margin: 0;
    }

    .safetogo p {
        display: none;
    }

    .safetogo .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }


    .text {
        height: fit-content;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .safetogo img {
        width: 50vw;
        height: auto;
        margin: 0 auto 20px;
    }

    .kreaplace {
        flex-direction: column;
    }

    .kreaplace h1 {
        font-size: 30px;
        margin: 0;
    }

    .kreaplace p {
        display: none;
    }

    .kreaplace .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }

    .kreaplace img {
        width: 50vw;
        height: auto;
        margin: 0 auto 20px;
    }

    .animations {
        flex-direction: column;
    }

    .animations h1 {
        font-size: 30px;
        margin: 0;
    }

    .animations p {
        display: none;
    }

    .animations .link {
        width: fit-content;
        text-align: center;
        margin: 0 auto;

    }

    .animations img {
        width: 50vw;
        height: auto;
        margin: 30px auto 20px;
    }

    .dots {
        margin: 0 auto;
        width: fit-content;
    }

    .dot {
        height: 20px;
        width: 20px;
        margin: 5px;
    }

    #shots {
        flex-direction: column;
    }

    .shots-text {
        margin: 0 auto;
    }

    .shots-title {
        display: none;
        margin: 0 auto 0 auto;
    }

    .shots-text h2 {
        width: 90vw;
        text-align: center;
        margin: 0;

    }

    .slides-section {
        margin: 30px auto;
    }

    .prev-shot {
        height: 50px;
        margin: 40vh 50px 0 auto;
    }

    .next-shot {
        height: 50px;
        margin: 40vh auto 0 50px;
    }

    .myShots {
        width: auto;
        height: 80vh;
        margin: 20px auto;
    }

    .dot- {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }


    #about {
        padding-left: 0;
    }

    #about div {
        flex-direction: column;
    }

    #about div img {
        width: 50vw;
        height: auto;
        margin: 20px auto;
        box-shadow: 5px 5px 10px #C8C6C6,
            -5px -5px 10px #F1EFEF;

        order: 2;

    }

    #about div div {
        height: fit-content;
        width: 90vw;
        margin: 150px auto 20px auto;
        order: 1;
    }

    #about div div h1 {
        width: 90vw;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    #about div div h2 {
        width: 90vw;
        text-align: center;
        margin: 0 auto;
    }
}