*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300 !important;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
    z-index: 5;
}

.arrow:hover {
    height: 5.5vh;
}

.section {
    height: 100vh;
    width: 100vw;
}

#intro {
    background-image: url(../media/safetogo/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#intro div {
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;


}

#intro div h1 {
    margin: 20vh auto 0 15vw;
    color: #ECECEC;

}

#intro div h2 {
    margin: 0 auto 10vh 15vw;
    color: #ECECEC;
    font-weight: 300 !important;
}

#intro div h3 {
    color: #ECECEC;
    width: 45vw;
    margin: 0 auto 3vh 15vw;
    font-weight: 300 !important;
}



#user-journey {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#user-journey img {
    height: 85vh;
    margin: 10vh 0 auto auto;

}



#user-journey div {
    margin: auto auto auto 0;
}

#user-journey div h2 {
    margin-top: 5vh;
    width: 35vw;
    font-weight: 300 !important;
}

#onboarding {
    display: flex;
    flex-direction: row;
    padding: 0 10vw;
    height: 100vh;
}

#onboarding img {
    height: 75vh;
    margin: auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#user-journey2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#user-journey2 img {
    height: 85vh;
    margin: auto auto auto 5vw;
    box-shadow: 5px 5px 5px #C8C6C6,
    -5px -5px 10px #F1EFEF;
}

#user-journey2 div {
    margin: auto 0 auto auto;
}

#user-journey2 div h2 {
    width: 30vw;
    background: #ececec;
    text-align: right;
    font-weight: 300 !important;

}

#colour-coding {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#colour-coding div {
    margin: auto auto auto 5vw;
}


#colour-coding img {
    height: 75vh;
    margin: auto 0 auto auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#cc-mockups {
    display: flex;
    flex-direction: row;
    padding: 0 15vw;
    height: 100vh;
}

#cc-mockups img {
    height: 75vh;
    margin: auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#api {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#api img {
    height: 75vh;
    margin: auto 5vw auto auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#api div {
    margin: auto auto auto 0;

}

#api div h2 {
    width: 40vw;
    font-weight: 300 !important;
}


#other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
    height: 10vh;

}

#other-projects a {
    text-decoration: none;
}

#other-projects h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    color: #2a2a2a;
}

#other-projects h3:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(100px);
    animation: come-in 2s ease forwards;
}



.come-in:nth-child(odd) {
    animation-duration: 1s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}









@media all and (max-width: 768px) and (min-width:0) {
    .title {
        font-size: 5vh;
        width: 100vw;
        text-align: center;
        margin: 0 auto !important;
    }

    .subtitle {
        width: 100vw;
        text-align: left;
        margin: 0 auto !important;
    }


    .arrow {
        height: 3vh;
        top: 3vh;
        left: 3vh;
    }



    #intro div h1 {
        margin-top: 10vh;
        font-size: 7vh;

    }

    #intro div h2 {
        width: 80vw;
    }

    #intro div h3 {
        width: 80vw;
        font-size: 2.5vh;
        line-height: 4vh;
        text-align: left;
    }



    #user-journey {
        flex-direction: column;
        height: auto;
        padding-top: 10vh;
    }



    #user-journey img {
        width: 80vw;
        height: auto;
        margin: 10vh auto;
        order: 2;
    }

    #user-journey div {
        margin: 0;
        order: 1;
    }

    #user-journey div h2 {
        width: 80vw;
        padding-top: 5vh;
    }

    #onboarding {
        padding: 0;
        height: auto;
        flex-direction: column;
    }

    #onboarding img {
        width: 60vw;
        height: auto;
        margin: 5vh auto;
    }

    #user-journey2 {
        flex-direction: column;
        height: auto;
    }


    #user-journey2 img {
        width: 60vw;
        height: auto;
        margin: 10vh auto;
    }

    #user-journey2 div {
        margin: 0;
    }

    #user-journey2 div h2 {
        width: 80vw;
        text-align: left;
        padding-top: 5vh;
    }

    #colour-coding {
        flex-direction: column;
        height: auto;
    }

    #colour-coding img {
        width: 60vw;
        height: auto;
        margin: 10vh auto;
        order: 2;
    }

    #colour-coding div {
        margin: 0;
        order: 1;
    }

    #colour-coding div h2 {
        width: 80vw;
        text-align: left;
        padding-top: 5vh;
    }

    #cc-mockups {
        padding: 0;
        height: auto;
        flex-direction: column;
    }

    #cc-mockups img {
        width: 60vw;
        height: auto;
        margin: 5vh auto;
    }


    #api {
        flex-direction: column;
        height: auto;
    }



    #api img {
        width: 60vw;
        height: auto;
        margin: 10vh auto;
        order: 2;
    }

    #api div {
        margin: 0;
        order: 1;
    }

    #api div h2 {
        width: 80vw;
        padding-top: 5vh;
    }

    #other-projects {
        margin-top: 10vh;
    }

}

@media all and (max-width: 992px) and (min-width:768px) {

    #intro div h3 {
        width: 80vw;
        font-size: 2.5vh;
        line-height: 5vh;
        text-align: left;
    }

    #user-journey img {
        width: 60vw;
        height: auto;
    }

    #user-journey2 img {
        width: 60vw;
        height: auto;
    }

    #onboarding img,
    #user-journey2 img,
    #colour-coding img,
    #cc-mockups img,
    #api img {
        width: 40vw;
        height: auto;
    }
}