*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
}

.arrow:hover {
    height: 5.5vh;
}

/*intro animations slideshow*/
#intro {
    height: 100vh;
    width: 100vw;
    /*background-color: #2a2a2a;*/
    display: flex;
    flex-direction: column;
}

.middle-section {
    display: flex;
    flex-direction: row;
    margin: 20vh auto auto auto;
}

.anim-container {
    width: 50vw;
    height: 50vh;
    margin: auto;
    padding-top: 20vh;
}

/*arrow buttons*/

.prev {
    height: 8vh;
    margin: auto;
}

.next {
    height: 8vh;
    margin: auto;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slideshow-container {
    margin: 15vh 15vh 0 15vh;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;

}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}


/*DOTS*/

.dots {
    display: flex;
    flex-direction: row;
    margin: 10vh auto;
    width: auto;
}

.dot {
    border-radius: 50%;
    background: #E3E0E0;
    box-shadow: inset 3px 3px 3px #C8C6C6,
        inset -3px -3px 3px #F1EFEF;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;
}

.dot:hover {
    cursor: pointer;
}

.dot-active {
    border-radius: 50%;
    background: #ececec;
    box-shadow: 2px 2px 2px #D4D4D4,
        -2px -2px 2px #F5F5F5;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;

}

/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

/*ball animation*/
.ball {
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(0deg);
    animation: movement 10s linear infinite;

}


.slice {
    border: 1px solid #2a2a2a;
    /*background: radial-gradient(circle, #ececec 0%, #2a2a2a 100%);*/
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*    transform-style: preserve-3d;*/
    animation: anim 10s infinite;




}

.slice:nth-child(1) {
    width: 194px;
    height: 194px;
    transform: translateZ(180px);



}

.slice:nth-child(2) {
    width: 240px;
    height: 240px;
    transform: translateZ(160px);
}

.slice:nth-child(3) {
    width: 284px;
    height: 284px;
    transform: translateZ(140px);
}

.slice:nth-child(4) {
    width: 320px;
    height: 320px;
    transform: translateZ(120px);
}

.slice:nth-child(5) {
    width: 346px;
    height: 346px;
    transform: translateZ(100px);
}

.slice:nth-child(6) {
    width: 366px;
    height: 366px;
    transform: translateZ(80px);
}

.slice:nth-child(7) {
    width: 380px;
    height: 380px;
    transform: translateZ(60px);
}

.slice:nth-child(8) {
    width: 390px;
    height: 390px;
    transform: translateZ(40px);
}

.slice:nth-child(9) {
    width: 396px;
    height: 396px;
    transform: translateZ(20px);
}

.slice:nth-child(10) {
    width: 400px;
    height: 400px;
    transform: translateZ(0px);

}

.slice:nth-child(11) {
    width: 396px;
    height: 396px;
    transform: translateZ(-20px);
}


.slice:nth-child(12) {
    width: 390px;
    height: 390px;
    transform: translateZ(-40px);
}


.slice:nth-child(13) {
    width: 380px;
    height: 380px;
    transform: translateZ(-60px);
}


.slice:nth-child(14) {
    width: 366px;
    height: 366px;
    transform: translateZ(-80px);
}


.slice:nth-child(15) {
    width: 346px;
    height: 346px;
    transform: translateZ(-100px);
}


.slice:nth-child(16) {
    width: 320px;
    height: 320px;
    transform: translateZ(-120px);
}


.slice:nth-child(17) {
    width: 284px;
    height: 284px;
    transform: translateZ(-140px);
}


.slice:nth-child(18) {
    width: 240px;
    height: 240px;
    transform: translateZ(-160px);
}


.slice:nth-child(19) {
    width: 194px;
    height: 194px;
    transform: translateZ(-180px);


}



/*ANIMATIONS*/


@keyframes movement {

    100% {
        transform: rotateX(30deg) rotateY(-360deg);
    }


}

/*circles animation*/
.wrapper {
    margin: auto;
    transform: rotateX(60deg);
}

.circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #2a2a2a;
    border-radius: 50%;
    animation: drop 3s ease-in-out infinite;

}

@keyframes drop {

    0%,
    100% {
        transform: translateY(-250px);
    }

    50% {
        transform: translateY(250px);
    }

}

.circle:nth-child(1) {
    width: 400px;
    height: 400px;
    animation-delay: 0.1s;
}

.circle:nth-child(2) {
    width: 360px;
    height: 360px;
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    width: 320px;
    height: 320px;
    animation-delay: 0.3s;
}

.circle:nth-child(4) {
    width: 280px;
    height: 280px;
    animation-delay: 0.4s;
}

.circle:nth-child(5) {
    width: 240px;
    height: 240px;
    animation-delay: 0.5s;
}

.circle:nth-child(6) {
    width: 200px;
    height: 200px;
    animation-delay: 0.6s;
}

.circle:nth-child(7) {
    width: 160px;
    height: 160px;
    animation-delay: 0.7s;
}

.circle:nth-child(8) {
    width: 120px;
    height: 120px;
    animation-delay: 0.8s;
}

.circle:nth-child(9) {
    width: 80px;
    height: 80px;
    animation-delay: 0.9s;
}

.circle:nth-child(10) {
    width: 40px;
    height: 40px;
    animation-delay: 1s;
}

/*card animation*/
.mySlides:nth-child(3) {
    perspective: 600px;
}

.card {
    margin: -25vh auto;
    transform-style: preserve-3d;
    animation: flip 6s infinite;
    height: 400px;
    width: 280px;
    transform-origin: center;
    display: flex;

}

.front {
    background-image: url(media/animations/fff.jpg);
    height: 400px;
    width: 280px;
    display: flex;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;


}

.back {
    background-image: url(media/animations/bbb.png);
    height: 400px;
    width: 280px;
    display: flex;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(180deg);
    border-radius: 5px;


}


@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#title {
    width: 100vw;
    height: auto;
    margin-bottom: 10vh;
}

#title h1 {
    margin: 15vh auto 0 auto;
    width: 100vh;
    text-align: center;
    text-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#description {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row
}



#description p {
    width: 50vw;
    height: fit-content;
    margin: 10vh auto;
    text-align: center;
    font-weight: 700;
    border-radius: 50px;
    background: #ececec;
    box-shadow: inset 5px 5px 10px #c9c9c9,
        inset -7px -7px 14px #fcfcfc;
    padding: 7vh;

}

#description p span {
    font-weight: 500;
}







#other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    margin: 0 5vw;
    height: 10vh;

}

#other-projects h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

#other-projects h3:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(3a0vh);
    animation: come-in 2s ease forwards;
}



.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}


/*custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #2a2a2a;
    background-color: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}