*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 25vw;
    justify-content: space-between;
    margin-left: 70vw;
    margin-top: 3vh;
    position: absolute;
}

.navigation-scroll {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 4vw;
    position: fixed;
    left: 2vw;
    height: 50vh;
    justify-content: space-between;
    top: 20vh;
}

.nav-el {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 2.5vh;
    color: #ececec;
    text-decoration: none;

}

.nav-el:hover {
    margin-top: 1vh;
}

.nav-el-scroll {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 2.5vh;
    color: #2a2a2a;
    text-decoration: none;
    transform: rotate(270deg);
    height: min-content;
    width: min-content;
    margin: 1vw;

}

.nav-el-scroll:hover {
    margin-left: 1.5vw;
}


section {
    width: 100vw;
    height: 100vh;
}

.section-title {
    display: flex;
    width: 100vw;
    height: 75vh;
}

.title-3d {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 35vh;
    text-align: left;
    color: #ececec;
    margin: auto auto 5vh 10vw;


}

.title-3d-animation {
    animation-name: rise;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    text-shadow: 10px 10px 20px #CCCCCC,
        -15px -15px 30px #F5F5F5;

}

@keyframes rise {

    0% {
        text-shadow: 0px 0px 0px #CCCCCC,
            0px 0px 0px #F5F5F5;
        margin: auto auto 6vh 10vw;
    }

    100% {
        text-shadow: 10px 10px 20px #CCCCCC,
            -15px -15px 30px #F5F5F5;
        margin: auto auto 5vh 10vw;
    }

}

/*fonts*/
.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

/*HOME*/
#home {
    background-image: url(media/me/home.JPG);
    background-size: cover;
}

/*PROJECTS section*/
#projects {
    display: flex;
    flex-direction: column;


}

.middle-section {
    display: flex;
    flex-direction: row;
}

/*arrow buttons*/

.prev {
    height: 8vh;
    margin: 45vh 0 0 auto;
}

.next {
    height: 8vh;
    margin: 45vh auto 0 0;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    height: 9vh;
    margin-top: 44.5vh;
}

.slideshow-container {
    margin: 15vh 15vh 0 15vh;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;

}

/*SafeToGo*/
.safetogo {
    display: flex;
    flex-direction: row;
}

.text {
    height: fit-content;
    margin: auto 0 auto 0;
}

.safetogo img {
    height: 70vh;
}

/*Kreaplace*/
/*CSS 3D animations*/

/*DOTS*/

.dots {
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
}

.dot {
    border-radius: 50%;
    background: #E3E0E0;
    box-shadow: inset 3px 3px 3px #C8C6C6,
        inset -3px -3px 3px #F1EFEF;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;
}

.dot:hover {
    cursor: pointer;
}

.dot-active {
    border-radius: 50%;
    background: #ececec;
    box-shadow: 2px 2px 2px #D4D4D4,
        -2px -2px 2px #F5F5F5;
    height: 1.5vw;
    width: 1.5vw;
    margin: 0.7vw;

}

/* Fading animation */
/*
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        margin-left: 3vw;
    }

    to {
        margin-left: 0vw;
    }
}
*/



/*Shots section*/
#shots {
    display: flex;
    flex-direction: row;
}

.shots-text {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 10vw;
}

.shots-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;

}


.slides-section {
    display: flex;
    flex-direction: column;
    margin: 10vh 15vw auto auto;
}

.slides-wrapper {
    display: flex;
    flex-direction: row;
}



.prev-shot {
    height: 8vh;
    margin: 35vh 7vw 0 0;
}

.next-shot {
    height: 8vh;
    margin: 35vh auto 0 7vw;
}

.myShots {
    height: 75vh;
    margin-bottom: 3vh;
    box-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

.dot- {
    border-radius: 50%;
    background: #E3E0E0;
    box-shadow: inset 3px 3px 3px #C8C6C6,
        inset -3px -3px 3px #F1EFEF;
    height: 1vw;
    width: 1vw;
    margin: 0.5vw;
}

.dot-:hover {
    cursor: pointer;
}

.dot--active {
    border-radius: 50%;
    background: #ececec;
    box-shadow: 2px 2px 2px #D4D4D4,
        -2px -2px 2px #F5F5F5;
    height: 1vw;
    width: 1vw;
    margin: 0.5vw;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}