*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 0 3vh;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 7vh 3vh;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
}

.arrow:hover {
    height: 5.5vh;
}

.mobile-framed-right {
    height: 85vh;
    margin: auto auto auto 5vw;
}

.mobile-framed-left {
    height: 85vh;
    margin: auto 5vw auto auto;
}

.mobile-mockup {
    height: 75vh;
    margin: auto 2vw;
    box-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

.text-wrapper-left {
    margin: auto 0 auto auto;
}


.text-wrapper-right {
    margin: auto auto auto 0;
}

.wide-text {
    width: 40vw;
}

.mockup-wrapper {
    margin: auto auto auto 5vw;
}

.mobile-mockup-api {
    height: 75vh;
    margin: auto 5vw auto auto;
    box-shadow: 5px 5px 10px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

.other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    position: absolute;
    top: 390vh;
    left: 5vw;
}

.previous-project {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.previous-project:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

.next-project {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.next-project:hover {
    font-size: 2.75vh;
    cursor: pointer;
}