*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

:root {
    --bg: #ECECEC;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*fonts*/
.head-title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;

}

.head-subtitle {
    width: 25vw;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 3vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

.title {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2a2a2a;
    margin: 0 3vh 5vh 3vh;
}

.subtitle {
    width: 28vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh;
}

.link {
    width: 25vw;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
    margin: 3vh 3vh 0 3vh;

}

.link:hover {
    opacity: 0.5;
}

.arrow {
    height: 5vh;
    position: fixed;
    top: 10vh;
    left: 10vh;
}

.arrow:hover {
    height: 5.5vh;
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#intro div {
    margin: auto 0 auto auto;
}

#intro div h1 {
    margin: 0 3vh 0 3vh;
}

#intro div h2 {
    margin: 0 3vh 7vh 3vh;
}

#intro img {
    height: 85vh;
    margin: auto auto auto 5vw;
}

#user-journey {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}



#user-journey img {
    height: 85vh;
    margin: auto 2vw auto auto;
}



#user-journey div {
    margin: auto auto auto 0;
}

#user-journey div h2 {
    margin-top: 5vh;
    width: 35vw;
}

#user-journey2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#user-journey2 img {
    height: 85vh;
    margin: auto auto auto 5vw;
}

#user-journey2 div {
    margin: auto 0 auto auto;
}

#user-journey2 div h2 {
    width: 30vw;
    background: #ececec;

}

#colour-coding {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#colour-coding div {
    margin: auto auto auto 5vw;
}


#colour-coding img {
    height: 75vh;
    margin: auto 0 auto auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#cc-mockups {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 0 15vw;
}

#cc-mockups img {
    height: 75vh;
    margin: auto ;
    box-shadow: 5px 5px 5px #C8C6C6,
    -5px -5px 10px #F1EFEF;
}

#api {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#api img {
    height: 75vh;
    margin: auto 5vw auto auto;
    box-shadow: 5px 5px 5px #C8C6C6,
        -5px -5px 10px #F1EFEF;
}

#api div {
    margin: auto auto auto 0;

}

#api div h2 {
    width: 40vw;
}


#other-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    margin: 0 5vw;
    height: 10vh;

}

#other-projects h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vh;
    letter-spacing: 0.02em;
    line-height: 5vh;
    text-align: left;
    color: #2a2a2a;
}

#other-projects h3:hover {
    font-size: 2.75vh;
    cursor: pointer;
}

/*slide in on scroll*/

.come-in {
    transform: translateY(100px);
    animation: come-in 2s ease forwards;
}



.come-in:nth-child(odd) {
    animation-duration: 1s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

/*custom scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #2a2a2a;
    background-color: #2a2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ececec;
    border-radius: 10px; 
    box-shadow: inset 0 0 2px #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}